*{
                
    margin: 0;
}

html, body{
    background-color:darkgrey;
    height: 100%;
}

.menu{
    position: relative;
    background-color: aliceblue;
    width: 100%;
    text-align: justify;
    max-height: 10%;
    height: 25px;
    min-height: 5%;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 32px;

}

.foto{
    display: inline;
}

.formacao{
    position: absolute;
    margin-left: 50%;
}

li{
    marker: none;
    position:relative;
    display: inline;
    margin-left: 250;
}

.imagem{
    border-radius: 45%;
    border-style: solid;
    border-width: 5px;
    border-color:whitesmoke;
    margin-left: 15%;
    margin-top: 10%;    
}

.band{
    
    padding-right: 15px;
    width: 20px;
    height: 15px;
}

.lingua{
    padding-right: 15px;
    display: inline;
    margin-left: 5%;
}