*{
                
    margin: 0;
}

html, body{
    background-color:darkgrey;
    height: 100%;
}

.menu{
    position: relative;
    background-color: aliceblue;
    width: 100%;
    text-align: center;
    max-height: 10%;
    height: 25px;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0px;
    text-decoration: none;
    font-size: 120%;

}

.foto{
    float: left;
}

.formacao{
    position: absolute;
    margin-left: 50%;
}

li{
    marker: none;
    position:relative;
    display: inline-block;
    margin-left: 150px;
    height: 80px;
}

ul{
    padding-inline-start: -40px !important;

}

li:hover{
    color:darkblue;
}

.imagem{
    border-radius: 45%;
    border-style: solid;
    border-width: 5px;
    border-color:whitesmoke;
    margin-left: 15%;
    margin-top: 10%;
    float: left;
    width: 20%;
}

.band{
    
    padding-right: 15px;
    width: 20px;
    height: 15px;
}

.band:hover{
    opacity: 0.5;
}

.lingua{
    padding-right: 15px;
    display: inline;
    margin-left: 5%;
}

.quemsou{
    margin-top: 12%;
    padding-left: 40%;
    margin-right: 200;
    text-align: justify;

}

#textoquemsou{
    text-align: justify;
    font-family: 'Actor', sans-serif;
    line-height: 1.5;
}

h2{
    font-family: 'Oldenburg', cursive;
    font-size: 200%;
}

#Trybe:hover{
    color: #006400;;
}

a{
    text-decoration: none;
    color: black;
}

#cruzeiro:hover{
    color: chocolate;
}

#uff:hover{
    color:midnightblue;
}

.nome1{
    animation-name: nome1;
    animation-duration: 5s;
}

.nome2{
    animation-name: nome2;
    animation-duration: 5s;
}

@keyframes nome1 {
    0% {left: 0%; color:#FFFFFF}
    20% {left: 20%; color: #000000;}
    40% {left: 40%; color:#FFFFFF}
    60% {left: 60%; color:#000000}
    80% {left: 80%; color:#FFFFFF}
    100% {left: 100%; color:#000000}
  }

  @keyframes nome2 {
    20% {left: 20%; color: #FFFFFF;}
    40% {left: 40%; color:#000000}
    60% {left: 60%; color:#FFFFFF}
    80% {left: 80%; color:#000000}
    100% {left: 100%; color:#FFFFFF}
  }